body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: black;
    color: rgb(251, 243, 243);
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logout {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #0f0f0f;
    padding: 20px;
}

.sidebar-links {
    list-style-type: none;
    padding: 0;
}

.sidebar-links li {
    margin: 10px 0;
}

.sidebar-links a {
    text-decoration: none;
    color: #faf0f0;
    display: block;
    padding: 10px;
}

.sidebar-links a:hover {
    background-color: #090909;
}

main {
    flex: 1;
    padding: 20px;
}
.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.stat {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

.stat h3 {
    margin: 0;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
